html{
    box-sizing: border-box;
}

#bg-div{
    min-height:100vh;
}

.images-container{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap:20px;
    align-items: center;
    /* background:#666; */
    padding:10px;
}

.images-container-mosaic{
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(150px, auto);
    grid-gap:20px;
    grid-auto-flow: dense;
    align-items: center;
    /* background:#666; */
    padding:10px;
}

.image{
    width:100%;
    left:0%;
    /* transition:all .5s ease-in; */
    /* background:#AAA; */
}

.landscape{
    grid-column-end:span 2;
}

.select{
    border:10px solid palegoldenrod;
}

.image-react{
    display:flex;
    width:100%;
    margin:0 10px;
    border-radius:0 0 15px 15px;
    justify-content: space-evenly;
    background:#EEE;
    font-size: 25px;
}

.react-button{
    padding:auto;
    height:40px;
    cursor:pointer;
}

.custom-drop{
    padding:10px;
}

.drop-space{
    display:flex;
    border-radius:5px;
    background:white;
    height:100px;
    justify-content:center;
    align-items:center;
    color: black;
    font-size:40px;
    border:5px dashed black;
}

.reaction-modal{
    display:grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 50% 50%;
    /* grid-gap:25px; */
    position:absolute;
    background:white;
    border: 3px solid black;
    /* padding:25px 0 0 25px; */
    width:80%;
    left:10%;
    top:10%;
    height:80%;
    
}

.image-space{
    display:flex;
    /* flex-direction: column; */
    justify-content: flex-end;
    height:400px;
    
}

.in-modal{
    top:0%;
    width:100%;
    height:auto;
    max-height:400px;
    /* margin-top:auto; */
    /* margin: 25px 0 0 25px; */
}

.spine-options{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    width:100%;
}

.spine-option{
    background:gray;
    margin:5px;
    width:200px;
    height:200px;
}

/* Spine Full */

.spine-full{
    position:absolute;
    z-index: 20;
    transform: translateX(-100%);
    width:400px;
    /* transform:translate(0,-100%); */
}


.spine-full-canvas-container{
    position:absolute;
    display:flex;
    justify-content: flex-end;
    position:relative;
    top:0;
}